apiVersion: v1
kind: ConfigMap
metadata:
  name: curator-actions-configmap
  namespace: {{ .Release.Namespace }}
data:
  actions.yml: |
    actions:
      1:
        action: delete_indices
        description: >-
          Delete indices older than 30 days (based on index name), for logstash-
          prefixed indices. Ignore the error if the filter does not result in an
          actionable list of indices (ignore_empty_list) and exit cleanly.
        options:
          ignore_empty_list: True
          timeout_override:
          continue_if_exception: False
          disable_action: False
        filters:
        - filtertype: pattern
          kind: regex
          value: '^{{ .Values.curator.index_prefix }}-logstash.*$'
          exclude:
        - filtertype: age
          source: name
          direction: older
          timestring: '%Y.%m.%d'
          unit: days
          unit_count: 30 
          exclude:
